@charset "UTF-8";

#corpo{
    padding: 0px;
}
div#imagemdefundo{
    background-image: url(imagens/div-topo2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;   
    margin: 114px auto 0px auto;
    height: 200px;
    width: 100vw;
    padding: 10px;
    display: flex;
    align-items: center;
    align-items: stretch;
}
h1{
    color: rgb(192, 0, 0);
    text-shadow: 1px 1px 1px black;
    background-color: rgba(255, 255, 255, 0.441);
    width: 95vw;
    text-align: center;
    padding-top: 62px;
}
h1.titulo{
    color: white;
    background-color: rgb(192, 0, 0);
    padding: 10px;
    width: 100vw;
    text-shadow: 1px 1px 1px black;
}
p{
    text-align: justify;
    padding: 10px;
    text-indent: 25px;
}
section.video{
    display: flex;
    justify-content: center;
}
iframe{
    width: 95vw;
    height: 400px;
}
img{
    padding: 0px;
    width: 100vw;
}
a.naoparece{
    text-decoration: none;
}
section.imagemdupla{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
section.imagemdupla img{
    width: 49vw;
    padding: 0px;
    border: 2px solid rgb(192, 0, 0);
    margin-bottom: 10px;
}
aside{
    padding-left: 10px;
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: x-small;
}
section.video{
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
embed{
    width: 100vw;
    height: 194px;
}
div.card-img-overlay a{
    color: white;
    background-color: rgb(86, 1, 1);
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
}
div.card-img-overlay a:hover{
    background-color: rgb(243, 136, 136);
    color: rgb(86, 1, 1);
    font-weight: bold;
}
h2.subtitulo{
    padding: 10px;
    text-align: center;
    color: rgb(192, 0, 0);
    text-shadow: 2px 2px 8px #000000c2;
}
section.ano2005{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
td#united{
    font-size: min(20px, 4vw);
}
#logopremierleague{
    width: 80vw;
}
#timeliverpool{
    width: 70px;
    height: 95.55px;
}
#timevisitante{
    width: 90px;
    height: 95.55px;
}
p#aparecerjogo{
    text-align: center;
    
}
p.escritapartida{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: x-small;
    padding: 20px;
    border: 2.4px solid rgb(192, 0, 0);
    border-radius: 10px;
}
p.escritapartida:hover{
    background-color: rgb(255, 217, 0);
}
p#jogos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0px;
}
p#jogos a{
    font-size: small;
    background-color: rgb(192, 0, 0);
    border: 1px solid rgb(96, 0, 0);
}
p#jogos a:hover{
    background-color: rgb(250, 0, 0);
}
aside#proximosJogos{
    padding: 10px 0px 0px 0px;
    margin-bottom: 5px;
}
img.timesJogosTemporada{
    display: inline-block;
    width: 50px;
    height: 50px;
}
